<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <input id="roomname" type="text" class="form-control" placeholder="Room Name" aria-describedby="basic-addon1">
  <button id="addroom"type="button" class="btn btn-primary">Add Room</button>
  <ul id="roomList">
  </ul>



<script>
  var socket = io.connect("http://localhost:50000/roomlist");
  socket.on("connect",function(){});

  $("#addroom").click(function(){
    var roomName=$("#roomname").val();
    if(roomName!=''){
      var roomNumber= parseInt(Math.random()*100000);
      var playerList=[];
      socket.emit('newRoom',{roomName:roomName, roomNumber:roomNumber, playerList:playerList});
    }
  });

  socket.on("roomUpdate",function(data){
    $("#roomList").html("");
    var procData=JSON.parse(data);
    for (var i =0;i<procData.length;i++){
      console.log(procData[i])
      var str='<a href=room/'+procData[i].roomNumber +'><li>' +procData[i].roomName + procData[i].playerList.length+'</li></a>'
      $("#roomList").prepend(str);
    }
  })
</script>
  </body>
</html>