<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
  <h3>A ROOM</h3>

  <input id="playerName" type="text" class="form-control" placeholder="Add a Player Name " aria-describedby="basic-addon1">

<select class="form-control" id="team">
    <option value="team1">Team 1</option>
    <option value="team2">Team 2</option>
</select>

  <button id="addPlayer"type="button" class="btn btn-primary">Add Player</button>

<p><%=room%></p>
<script>
$(function() {
  var host ="http://localhost:50000";
  var roomlist = io.connect(host+"/roomlist");
  var games = io.connect(host +"/games");
  roomlist.on("playerUpdate",function(data){
    $("#roomList").html("");
    var procData=JSON.parse(data);
    for (var i =0;i<procData.length;i++){
      var str='<a href=room/'+procData[i].roomNumber +'><li>' +procData[i].roomName + procData[i].playerList.length+'</li></a>'
      $("#roomList").prepend(str);
    }
  })

  var room =<%-JSON.stringify(room)%>
  var roomNumber=room.roomNumber;


  $("#addPlayer").click(function(){
    var playerName=$("#playerName").val();
    var teamNumber = $('#team').find(":selected").val();
    var player={};
    player.name=playerName;
    player.team=teamNumber;
    if(playerName!=''){
      games.emit('joinRoom', {roomNumber:roomNumber, player:player});
      $("#playerName").val('');
    }
  });

  games.on("updateClientList",function(data){
    roomlist.emit('updatePlayer',{roomNumber:roomNumber, playerList:data});
    console.log(data);
  })
  games.on("connect", function(){
  })

  setInterval(function(){
    games.emit('updateList',{roomNumber:roomNumber});
  }, 5000);
})
</script>
  </body>
</html>