<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="../stylesheets/style.css">

  </head>
  <body>
  <h3>A ROOM</h3>

  <input id="playerName" type="text" class="form-control" placeholder="Add a Player Name " aria-describedby="basic-addon1">

<select class="form-control" id="team">
    <option value="team1">Team 1</option>
    <option value="team2">Team 2</option>
</select>

  <button id="addPlayer"type="button" class="btn btn-primary">Add Player</button>
  <button id="startGame"type="button" class="btn btn-primary">StartGame</button>

  <table>
  <thead>
    <tr id="playerInfo">
    <th>PlayerName</th>
    <th>Teams</th>
    <th>Remaining Cards</th>
    <th>Current</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  </table>
  <div id="cardsontable" class="row">
  </div>
  <br>
  <br>
  <div id="hand" class="row">
  </div>
  <button id="sendCards"type="button" class="btn btn-primary" disabled="disabled">Send Cards</button>
  <button id="pass"type="button" class="btn btn-primary" disabled="disabled">Pass</button>

<script>
$(function() {
  var id;
  var myTurn=false;
  var selectedCard;
  var emitCard;
  var cardsOnTable;
  var currentCards;
  var host ="http://localhost:50000";
  var roomlist = io.connect(host+"/roomlist");
  var games = io.connect(host +"/games");
  var generalSocket = io.connect();
  roomlist.on("playerUpdate",function(data){
    $("#roomList").html("");
    var procData=JSON.parse(data);
    for (var i =0;i<procData.length;i++){
      var str='<a href=room/'+procData[i].roomNumber +'><li>' +procData[i].roomName + procData[i].playerList.length+'</li></a>'
      $("#roomList").prepend(str);
    }
  })

  games.on('connect', function(data){
        games.emit('connectRoom',{roomNumber:roomNumber});
  });

  var room =<%-JSON.stringify(room)%>
  var roomNumber=room.roomNumber;

  $("#addPlayer").click(function(){
    var playerName=$("#playerName").val();
    var teamNumber = $('#team').find(":selected").val();
    var player={};
    player.name=playerName;
    player.team=teamNumber;
    if(playerName!=''){
      games.emit('joinRoom', {roomNumber:roomNumber, player:player});
      $("#playerName").val('');
    }
  });

  games.on("updateClientList",function(data){
    roomlist.emit('updatePlayer',{roomNumber:roomNumber, playerList:data});
    $("tbody").html("");
    for(var i=0;i<data.length;i++){
      $( "tbody" ).append( "<tr id='"+data[i].id+"'><td>"+data[i].player.name+"</td><td>"+data[i].player.team+"</td><td></td><td></td> </tr>");
    }
    localStorage.setItem("playerList", JSON.stringify(data));
  });

window.onbeforeunload = function(e) {
  games.emit('leaveGame',{roomNumber:roomNumber});
};

  $("#startGame").click(function(){
    var playerList= JSON.parse(localStorage.getItem("playerList"));
    if(playerList.length==4){
        games.emit('startGame',{roomNumber:roomNumber,playerList:playerList});
      }
  });

  function checkLegalCard(){
    if(selectedCard[0]===selectedCard[selectedCard.length-1]){
      console.log(1);
      return true;
    }
    else{
      if(selectedCard.length<5||selectedCard[selectedCard.length-1]-selectedCard[0]<2){
        console.log(2);
        return false;
      }
      console.log(selectedCard);
      var diff=selectedCard[selectedCard.length-1]-selectedCard[0]+1;
      if(selectedCard.length%diff!==0){
        console.log(3);
        return false;
      }
      var rep=selectedCard.length/diff;
      var arr=[];
      for(var i=selectedCard[0];i<=selectedCard[selectedCard.length-1];i++){
        for (var k=0;k<rep;k++){
          arr.push(i);
        }
      }
      for(var i=0;i<selectedCard.length;i++){
        if(selectedCard[i]!==arr[i]){
          console.log(4);
          return false;
        }
      }
      console.log(5);
      return true;
    }
  };

  function isBomb(array){
    if(array.length<4){
      return false;
    }
    else{
      for(var i=0;i<array.length;i++){
        if(array[i]!==array[0]){
          return false;
        }
      }
      return true;
    }
  }

  function canSendCard(){
    if(cardsOnTable.cardsOwner===id){
      console.log("myTurn");
      return checkLegalCard();
    }
    else if(checkLegalCard()){
      if(isBomb(currentCards)){
        if(!isBomb(selectedCard)){
          console.log(6);
          return false;
        }
        else if(selectedCard.length<currentCards.length){
          console.log(7);
          return false;
        }
        else if (selectedCard.length===currentCards.length){
          if (selectedCard[0]>currentCards[0]){
            console.log(8);
            return true;
          }
          else{
            console.log(9);
            return false;
          }
        }
        else{
          console.log(10);
          return true;
        }
      }
      else{
        if(isBomb(selectedCard)){
          console.log(11);
          return true;
        }
        else if(currentCards.length!==selectedCard.length){
          console.log(12);
          return false;
        }
        else{
          var diff=selectedCard[0]-currentCards[0];
          if(diff<=0){
            console.log(13);
            return false;
          }
          else{
            for(var i=0;i<selectedCard.length;i++){
              if (selectedCard[i]-currentCards[i]!==diff) {
                console.log(14);
                return false;
              }
            }
            console.log(15);
            return true;
          }
        }
      }
    }
    else{
      console.log(16);
      return false;
    }
  }

  games.on("initiateHand",function(data){
    $("#team").remove();
    $("#playerName").remove();
    for (var i =0;i<data.length;i++){
    $("#hand").append("<div class='card'><img src='../photos/"+data[i]+".png' width='104px' height='150px'><input class='checkbox' name='"+data[i]+"'type='checkbox'></div>");
    }
    $("tbody tr td:nth-child(3)").html("27");

    $(".checkbox").change(function() {
          getAllCheckedCard();
          if(canSendCard()&& myTurn){
              $("#sendCards").prop('disabled', false);
          }
          else{
            $("#sendCards").prop('disabled', true);
          }
      });
  })

  function getAllCheckedCard(){
    var arr=$(':checked');
    selectedCard=[];
    emitCard=[];
    for(var i=0;i<arr.length;i++){
      selectedCard.push(parseInt(arr[i].name.slice(0, -1)));
      emitCard.push(arr[i].name);
    }
    selectedCard.sort(function (a, b) { 
      return a - b;
    });
  };

  $("#sendCards").click(function(){
      games.emit('sendCards',{cards:emitCard,id:id,cardsOwner:id,roomNumber:roomNumber});
      $(':checked').parent().remove();
      $("#sendCards").prop('disabled', true);
      $("#pass").prop('disabled', true);
      myTurn=false;
  });

  $("#pass").click(function(){
      games.emit('sendCards',{cards:cardsOnTable.cards,cardsOwner:cardsOnTable.cardsOwner, id:id,roomNumber:roomNumber});
      $("#sendCards").prop('disabled', true);
      $("#pass").prop('disabled', true);
      myTurn=false;
  });

  games.on("distributeCards",function(data){
    cardsOnTable=data;
    currentCards=[];
    $("#cardsontable").html("");
    for (var i =0;i<cardsOnTable.cards.length;i++){
      currentCards.push(parseInt(cardsOnTable.cards[i].slice(0, -1)))
      $("#cardsontable").append("<div class='card'> <img src='../photos/"+cardsOnTable.cards[i]+".png' width='104px' height='150px'</div>");
    }
    currentCards.sort(function (a, b) { 
      return a - b;
    });

    if(data.id==id){
      myTurn=true;
      $("#pass").prop('disabled', false);
    }
  });

})
</script>
  </body>
</html>