
body {
	padding: 20px;
  font-family: sans-serif;
  font-size: 20px;
  color: #f83;
  margin-top: 25px;
}

.card{
display: inline-block;
padding: 5px;
}

.checkbox{
	width:20px; 
	height:20px;
}

.current{
	  background-color: #e0ffff;
}
